.recipe-search-container{
   margin-left: 15%;
   padding: 20px;
}
.btn-search{
    margin-left: 10px;
    border-radius: 10px;
}
.recipe-search__input{
    border: .5px solid rgb(105, 169, 189);
    border-radius: 5px;
   
}